
.topbar {
  height: 60px;
  background-color: black;
  line-height: 60px;
  padding-right: 10px;
  text-align: right;
}

.glyphicon-fullscreen {
  background-image: url(./fullscreen.png);
  background-size : cover;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.glyphicon-hand {
  background-image: url(./hand.png);
  background-size : cover;
  display: inline-block;
  height: 20px;
  height: 20px;
}

label {
  color: white;
  font-weight: bold;
  margin-right: 10px;
}