body, html {
  background-color: #34495e;
  overflow: hidden;
}

.topbar {
  position: absolute;
  width: 400px;
  height: 80px;
  line-height: 60px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  transition: all 0.2s linear;
}

.glyphicon-fullscreen {
  background-image: url(../img/fullscreen.png);
  background-size : cover;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.glyphicon-hand {
  background-image: url(../img/hand.png);
  background-size : cover;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.glyphicon-more {
  background-image: url(../img/more.png);
  background-size : cover;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.glyphicon-crop {
  background-image: url(../img/crop.png);
  background-size : cover;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.glyphicon-crop.cancelable {
  background-image: url(../img/close.png);
}

.glyphicon-info {
  background-image: url(../img/info.png);
  background-size : cover;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.computer-name {
  color: white;
  font-weight: bold;
  margin-right: 10px;
}