
.topbar {
  height: 60px;
  background-color: black;
  line-height: 60px;
  padding-right: 10px;
  text-align: right;
}

.glyphicon-fullscreen {
  background-image: url(../img/fullscreen.png);
  background-size : cover;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.glyphicon-hand {
  background-image: url(../img/hand.png);
  background-size : cover;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.glyphicon-more {
  background-image: url(../img/more.png);
  background-size : cover;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.computer-name {
  color: white;
  font-weight: bold;
  margin-right: 10px;
}